#general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    padding-bottom: 20px;
}

mat-form-field {
    width: 60%;
}